@import "zul/less/_header.less";

.z-button.btn-small {
	padding: 1px 5px;
}

.z-button.btn-medium {
	padding: 2px 10px;
}

.z-button-disabled {
	color: black; cursor: default; opacity: .6; -moz-opacity: .6; -khtml-opacity: .6; filter: alpha(opacity=60);
}

.img-btn img {
	height: 22px;
	width: 22px;
	background-color: transparent;
}

.txt-btn img, .small-img-btn img {
	height: 16px;
	width: 16px;
	background-color: transparent;
	vertical-align: middle;
	display: inline-block;
}

.action-button {
  min-width: 72px;
  margin: 2px;
  height: 32px;
}

.action-text-button {
	min-width: 80px;
}
.btn-sorttab {
	box-shadow: 0px 0px 4px #bbb;
	color: #555;
	border: solid 1px #bbb;
	text-shadow: 0px 1px 2px #888;
}

.z-button [class^="z-icon-"],
.z-button-os [class^="z-icon-"]{
	font-size: larger;
	padding-left: 2px;
	padding-right: 2px;
}
.z-button.xlarge-toolbarbutton [class^="z-icon-"] {
	font-size: 24px;
}
.z-button.large-toolbarbutton [class^="z-icon-"] {
	font-size: 20px;
}
.z-button.medium-toolbarbutton [class^="z-icon-"] {
	font-size: 16px;
}
.z-button.small-toolbarbutton [class^="z-icon-"] {
	font-size: 12px;
}
.z-button {
	vertical-align: middle;
	text-align: center;
	font-size: @fontSizeMedium;
}

.z-listbox .z-button, .z-grid-body .z-button {
	padding: 0 !important;
	min-width: 32px;
}

.z-grid-body .z-button {
	padding: 0 !important;
	min-width: 32px;
}

[class*="editor-button"], .editorbox-button {
	border-color: fade(@blue, 60) !important;
	background-color: fade(@blue, 60) !important;
}

[class*="editor-button"]:hover, [class*="editor-button"]:focus, [class*="editor-button"]:active,
.editorbox-button:hover, .editorbox-button:focus, .editorbox-button:active {
	border-color: @accent !important;
	background-color: @accent !important;
}

.z-panel-drag-button {
	display: none;
}