@import "zul/less/_header.less";

.z-icon-Account:before {
	content: "\f12e";
}
.z-icon-Archive:before {	
	content: "\f187";
}
.z-icon-Assignment:before {
	content: "\f0cb";
}
.z-icon-Attachment:before {	
	content: "\f0c6";
}
.z-icon-BPartner:before {
	content: "\f007";
}
.z-icon-Calculator:before {
	content: "\f1ec";
}
.z-icon-Calendar:before {
	content: "\f073";
}
.z-icon-Cancel:before {
	content: "\f00d";
}
.z-icon-ChangeLog:before {
	content: "\f017";
	font-weight: bold;
}
.z-icon-Chat:before {
	content: "\f0e6";
}
.z-icon-Collapsing:before {
	content: "\f102";
}
.z-icon-Copy:before {	
	content: "\f0c5";
}
.z-icon-CSVImport:before {
	content: "\f0f6";
}
.z-icon-Customize:before {
	content: "\f085";
}
.z-icon-Delete:before {
	font-weight: bold;
	content: "\f1f8";
}
.z-icon-Detail:before {	
	content: "\f105";
}
.z-icon-Edit:before {	
	content: "\f044";
}
.z-icon-ErrorMessageBox:before {
	content: "\f057";
	font-size: 32px;
	/* color: red; */
	font-family: FontAwesome;
}
.z-icon-ExclamationMessageBox:before {
	content: "\f06a";
	font-size: 32px;
	/* color: yellow; */
	font-family: FontAwesome;
}
.z-icon-Expand:before {
	content: "\f0d7";
}
.z-icon-Expanding:before {
	content: "\f103";
}
.z-icon-Export:before {	
	content: "\f019";
}
.z-icon-FastBack:before {
	content: "\f049";
}
.z-icon-FastForward:before {
	content: "\f050";
}
.z-icon-FieldSuggestion:before {
	content: "\f0e5";
}
.z-icon-FileImport:before {
	content: "\f574";		
}
.z-icon-Find:before {	 
	content: "\f002";
}
.z-icon-FirstRecord:before {	 
	content: "\f102";
}
.z-icon-Folder:before {
	content: "\f07c";
}
.z-icon-FolderAdd:before {
	content: "\f07b";
}
.z-icon-Form:before {
	content: "\f00b";
}
.z-icon-GetMail:before {
	content: "\f0e0";
}
.z-icon-Help:before {
	content: "\f059";
}
.z-icon-History:before {
	content: "\f1da";
}
.z-icon-Home:before {
	content: "\f015";
}
.z-icon-Ignore:before {
	content: "\f0e2";
}
.z-icon-Import:before {
	content: "\f093";		
}
.z-icon-Info:before {	
	content: "\f0eb";
}
.z-icon-InfoAccount:before {	
	content: "\f02d";
}
.z-icon-InfoAsset:before {	
	content: "\f0b1";
}
.z-icon-InfoBPartner:before {	
	content: "\f0c0";
}
.z-icon-InfoMessageBox:before {
	content: "\f05a";
	font-size: 32px;
	/* color: blue; */
	font-family: FontAwesome;
}
.z-icon-InfoInOut:before {	
	content: "\f0d1";
}
.z-icon-InfoInvoice:before {	
	content: "\f14b";
}
.z-icon-InfoLocator:before {
	content: "\f1b2";
}
.z-icon-InfoOrder:before {	
	content: "\f0c9";
}
.z-icon-InfoPayment:before {	
	content: "\f0d6";
}
.z-icon-InfoProduct:before {	
	content: "\f07a";
}
.z-icon-InfoResource:before {	
	content: "\f0eb";
}
.z-icon-InfoSchedule:before {	
	content: "\f017";
}
.z-icon-InfoShipment:before {
	content: "\f0d1";
}
.z-icon-LastRecord:before {
	content: "\f103";
}
.z-icon-Location:before {
	content: "\f036";
}
.z-icon-Locator:before {
	content: "\f233";
}
.z-icon-Lock:before {
	content: "\f09c";
}
.z-icon-LockX:before {
	content: "\f023";
}
.z-icon-Logout:before {
	content: "\f2f5";
}
.z-icon-More:before {
	content: "\f142";
}
.z-icon-MoveDown:before {
	content: "\f107";
}
.z-icon-MoveDown2:before {
	content: "\f103";
}
.z-icon-MoveLeft:before {
	content: "\f104";
}
.z-icon-MoveLeft2:before {
	content: "\f100";
}
.z-icon-MoveRight:before {
	content: "\f105";
}
.z-icon-MoveRight2:before {
	content: "\f101";
}
.z-icon-MoveUp:before {
	content: "\f106";
}
.z-icon-MoveUp2:before {
	content: "\f102";
}
.z-icon-Multi:before {	
	content: "\f0ce";
}
.z-icon-New:before {
	content: "\f15b";
}
.z-icon-Next:before {
	content: "\f0da";
}
.z-icon-NextRecord:before {
	content: "\f107";
}
.z-icon-Notice:before {
	font-weight: bold;
	content: "\f01c";
}
.z-icon-Ok:before {
	content: "\f00c";
}
.z-icon-Online:before {
	content: "\f0ac";
}
.z-icon-Open:before {
	content: "\f016";
}
.z-icon-Parent:before {	
	content: "\f104";
}
.z-icon-PAttribute:before {
	content: "\f02b";
}
.z-icon-Pause:before {
	content: "\f04c";
}
.z-icon-Payment:before {
	content: "\f0d6";
}
.z-icon-PickOpen:before {
	content: "\f064";
}
.z-icon-Play:before {
	content: "\f04b";
}
.z-icon-PostIt:before {
	content: "\f24a";
}
.z-icon-Preference:before {
	content: "\f085";
}
.z-icon-Previous:before {
	content: "\f0d9";
}
.z-icon-PreviousRecord:before {
	content: "\f106";
}
.z-icon-Print:before {
	content: "\f02f";
}
.z-icon-Process:before {
	content: "\f013";
}
.z-icon-ProcessMenu:before {
	content: "\f085";
}
.z-icon-Product:before {	
	content: "\f07a";
}
.z-icon-QuestionMessageBox:before {
	content: "\f059";
	font-size: 32px;
	/* color: green; */
	font-family: FontAwesome;
}
.z-icon-QuickForm:before {
	content: "\f0ae";
}
.z-icon-Refresh:before {
	content: "\f021";
}
.z-icon-Report:before {	
	content: "\f1ea";
}
.z-icon-Request:before {	
	content: "\f1d8";
}
.z-icon-Reset:before {
	content: "\f0e2";
}
.z-icon-Save:before {	
	content: "\f0c7";
}
.z-icon-SaveCreate:before {
	content: "\f0fe";
}
.z-icon-Search:before {
	content: "\f002";
}
.z-icon-SelectAll:before {
	content: "\f248";
}
.z-icon-SendMail:before {
	content: "\f003";
}
.z-icon-SequenceChange:before {
	content: "\f14d";
}
.z-icon-Share:before {
	content: "\f0ac";
}
.z-icon-ShowMore:before {
	content: "\f142";
}
.z-icon-Single:before {	
	content: "\f044";
}
.z-icon-StepBack:before {
	content: "\f04a";
}
.z-icon-StepForward:before {
	content: "\f04e";
}
.z-icon-Stop:before {
	content: "\f04d";
}
.z-icon-Task:before {
	content: "\f0ae";
}
.z-icon-ThreeLineMenu:before {
	content: "\f0c9";
}
.z-icon-Translate:before {
	content: "\f1ab";
}
.z-icon-Trash:before {
	content: "\f014";
}
.z-icon-TreeFavNodeAdd:before {
	content: "\f07b";
}
.z-icon-UnprocessedDoc:before {	
	content: "\f044";
}
.z-icon-Undo:before {
	content: "\f0e2";
}
.z-icon-UnSort:before {
	content: "\f074";
}
.z-icon-VPreference:before {
	content: "\f039";
}
.z-icon-Window:before {
	content: "\f022";
}
.z-icon-Wizard:before {
	content: "\f0d0";
}
.z-icon-Workflow:before, .z-icon-WorkFlow:before {	
	content: "\f126";
}
.z-icon-XMark:before {
	content: "\f00d";
}
.z-icon-Zoom:before {
	content: "\f14c";
}
.z-icon-ZoomAcross:before {	
	content: "\e521";
}
