@import "zul/less/_header.less";

.form-label 
{
	text-align: right;
}

.form-label-heading
{
	text-align: center;
}

.form-button {
	width: 100%;
}

.form-button img {
	width: 16px;
	height: 16px;
}

//<%-- confirm panel --%>
.confirm-panel {
	width: auto;
	height: auto;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
}
.confirm-panel-right {
	float: right;
}
.confirm-panel-left {
	float: left;
}
.confirm-panel-center{
	padding-left: 5px;
	float: left;
}

.confirm-panel .z-button {
  height: 32px;
}

.confirm-panel table {
  width: 100%;
}

//<%-- busy dialog --%>
.busy-dialog {
	cursor: wait;
	background-color: transparent;
}
.busy-dialog-box {
	background-color: transparent;
	padding: 9px; 
}
.busy-dialog-img {
	height: 16px; 
	width: 16px;
	background: transparent no-repeat center;
	background-image: url(../images/progress3.gif) !important;
	display: -moz-inline-box; 
	vertical-align: top; 
	display: inline-block;
}
.busy-dialog-label {
	color: #363636;
}

//<%-- status bar --%>
.status {
	width: 100%;
	height: 29px;
}
.status-db, .share-link {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	margin: 0;
	border-left: solid 1px #9CBDFF;
}
.status-info {
	padding-right: 5px;
	padding-right: 5px;
	border-left: solid 1px #9CBDFF;
}

.status-selected{
	padding-right: 5px;
	padding-right: 5px;
	border-right: solid 1px #9CBDFF;
}

.status-border {
	border: solid 1px #9CBDFF;
}

//<%-- report wizard --%>
.report-wizard-footer {
	width: 100%;
}

//<%-- Project Task Timer --%>
.form-task-timer .z-listitem:hover > .z-listcell {
	background: @baseBackground;
}

.form-task-timer .z-listitem:hover > .z-listcell > .z-listcell-content {
	color: @baseTextColor;
}

.form-task-timer table {
	width: 100% !important;
}

.task-table .z-listbox-header col:nth-child(1), .task-table .z-listbox-body col:nth-child(1) {width: 15% !important;}
.task-table .z-listbox-header col:nth-child(2), .task-table .z-listbox-body col:nth-child(2) {width: 15% !important;}
.task-table .z-listbox-header col:nth-child(3), .task-table .z-listbox-body col:nth-child(3) {width: 15% !important;}
.task-table .z-listbox-header col:nth-child(4), .task-table .z-listbox-body col:nth-child(4) {width: 30% !important;}
.task-table .z-listbox-header col:nth-child(5), .task-table .z-listbox-body col:nth-child(5) {width: 15% !important;}
.task-table .z-listbox-header col:nth-child(6), .task-table .z-listbox-body col:nth-child(6) {width: 10% !important;}

.timer-table .z-listbox-header col:nth-child(1), .timer-table .z-listbox-body col:nth-child(1) {width: 10% !important;}
.timer-table .z-listbox-header col:nth-child(2), .timer-table .z-listbox-body col:nth-child(2) {width: 10% !important;}
.timer-table .z-listbox-header col:nth-child(3), .timer-table .z-listbox-body col:nth-child(3) {width: 11% !important;}
.timer-table .z-listbox-header col:nth-child(4), .timer-table .z-listbox-body col:nth-child(4) {width: 10% !important;}
.timer-table .z-listbox-header col:nth-child(5), .timer-table .z-listbox-body col:nth-child(5) {width: 12% !important;}
.timer-table .z-listbox-header col:nth-child(6), .timer-table .z-listbox-body col:nth-child(6) {width: 10% !important;}
.timer-table .z-listbox-header col:nth-child(7), .timer-table .z-listbox-body col:nth-child(7) {width: 12% !important;}
.timer-table .z-listbox-header col:nth-child(8), .timer-table .z-listbox-body col:nth-child(8) {width: 5% !important;}
.timer-table .z-listbox-header col:nth-child(9), .timer-table .z-listbox-body col:nth-child(9) {width: 5% !important;}
.timer-table .z-listbox-header col:nth-child(10), .timer-table .z-listbox-body col:nth-child(10) {width: 5% !important;}
.timer-table .z-listbox-header col:nth-child(11), .timer-table .z-listbox-body col:nth-child(11) {width: 5% !important;}
.timer-table .z-listbox-header col:nth-child(12), .timer-table .z-listbox-body col:nth-child(12) {width: 5% !important;}