@import "zul/less/_header.less";

tr.z-group {
	background: #E9F2FB repeat-x 0 0;
}

.z-group td.z-group-inner {
	overflow: hidden !important;
	border-bottom: 1px solid #CFCFCF !important;
	border-top: 1px solid #CFCFCF !important;
	padding: 1px 2px;
}

.z-group-icon {
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.z-group-icon-close:before {
	content: "\f0da";
}
.z-group-icon-open:before {
	content: "\f0d7";
}