@import "zul/less/_header.less";

.info-panel .z-window-overlapped, .info-panel .z-window-highlighted {
	background-color: #F4F4F4 !important;
}

.info-panel .z-grid {
	border: none !important;
}

.info-panel .z-center {
}

.info-panel .z-listbox {
	width: 99% !important;
	position: relative;
	margin: auto;
}

.info-panel .z-south {
	padding: 5px;
}

.info-panel .z-window-highlighted .z-window-content {
	padding: 0px;
}

.info-product-tabbedpane {
	background-color: #FFFFFF;
}

.info-panel.z-window .z-borderlayout > div > .z-north {
	max-height: 50%;
}
