@import "zul/less/_header.less";

//<%-- Combobox --%>
.z-combobox-disabled {
	color: black !important; 
	cursor: default !important; 
	opacity: 1; 
	-moz-opacity: 1; 
	-khtml-opacity: 1; 
	filter: alpha(opacity=100);
}

.z-combobox-disabled * {
	color: black !important; 
	cursor: default !important;
	background-color: @disabledBackground !important;
}

.z-combobox-text-disabled {
	background-color: @disabledBackground !important;
}
.z-comboitem {
	min-height:14px;
	color: @grayDarker !important;
}

.z-comboitem.z-comboitem-selected {
	color: @baseTextColor !important;
}

.z-comboitem:hover, .z-comboitem-selected:hover {
	color: @activeColor !important;
}
.z-comboitem.z-comboitem-selected {
	color: @baseTextColor !important;
}

.z-comboitem:hover, .z-comboitem-selected:hover {
	color: @activeColor !important;
}

//<%-- highlight focus form element --%>
input:focus, textarea:focus, .z-combobox-input:focus, z-datebox-input:focus {
	background: fade(@accent, 8);
}

.z-textbox-readonly, .z-intbox-readonly, .z-longbox-readonly, .z-doublebox-readonly, 
.z-decimalbox-readonly, .z-datebox-readonly, .z-timebox-readonly, .editor-input-disd, 
.z-textbox[readonly], .z-intbox[readonly], .z-longbox[readonly], .z-doublebox[readonly], 
.z-decimalbox[readonly], .z-datebox[readonly], .z-timebox[readonly] {
	background-color: @disabledBackground !important;
}

//<%-- workaround for http://jira.idempiere.com/browse/IDEMPIERE-692 --%>
.z-combobox-popup {
	max-height: 200px;
}

//<%-- Checkbox --%>
.z-checkbox-toggle-off > .z-checkbox-mold, .z-checkbox-toggle-off > .z-checkbox-mold:focus {
	background-color: @baseBackground;
	border: 1px solid @blue;
	width: 12px;
	height: 12px;
	border-radius: 1px;
	margin: 12px 5px;
	box-shadow: none;
	transform: none;
	transition: none;
}
.z-checkbox-toggle-on > .z-checkbox-mold, .z-checkbox-toggle-on > .z-checkbox-mold:focus {
	background-color: @blue;
	border-color: 1px solid @blue;
	width: 12px;
	height: 12px;
	border-radius: 1px;
	margin: 12px 5px;
	box-shadow: none;
	transform: none;
	transition: none;
}
.z-checkbox-toggle > .z-checkbox-content {
    display: inline-block;
    vertical-align: middle;
}